*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5f5f5f;
    --active-color: #4caf50;
    --hover--color: black;
    --text-color: white;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    min-height: 4.5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav__item {
    padding: 0 1.5rem;
    line-height: 4.5rem;
    position: relative;
}

.nav__link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.nav__item--active {
    background-color: var(--active-color);
}

.nav__item:hover {
    background-color: var(--hover--color);
}

.nav__dropdown {
    display: none;
    min-width: 20rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 100%;  
}

.nav__item:hover > .nav__dropdown {
    display: block;
}

